
  
  <!--w3l-banner-slider-main-->
  <section class="w3l-banner-slider-main">
      <div class="top-header-content">
          <header class="tophny-header">
              
              <!--/nav-->
              <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="container-fluid serarc-fluid">
                      <a class="navbar-brand" href="{% url 'home' %}">
                          <span class="lohny">Shoppers</span></a>
                      <!-- if logo is image enable this   
                              <a class="navbar-brand" href="#index.html">
                                  <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                              </a> -->
                      <!--/search-right-->
                      <div class="col-md-7 col-sm-8 col-xs-12">
                        <div class="header-top-right">
                            <div class="htr-search">
                                <form action="{% url 'search' %}">
                                    <div class="htr-search-content">
                                        <input style="border:none" type="text" placeholder="Search here..." name="q">
                                        <button style="border:none"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="top-checkout">
                            </div>
                           
                        </div>
                    </div>
                              <!--//search-right-->
                      <button class="navbar-toggler active" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon fa fa-bars"> </span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav ml-auto">
                              <li class="nav-item active">
                                  <a class="nav-link" href="{% url 'allproduct' %}">Home</a>
                              </li>
                              <!-- <li class="nav-item active">
                                <a class="nav-link" href="about.html">About</a>
                              </li> -->

                              
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="" aria-expanded="">
                                <span class="fa fa-user" aria-hidden="true"></span>
                            </a>
                        
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% if user.is_authenticated %}
                                    <a class="dropdown-item" href="{% url 'user_logout' %}">Logout</a>
                                    <a class="dropdown-item" href="{% url 'user_profile' user.id%}">My Profile</a>
                                    <a class="dropdown-item" href="{% url 'order_history'%}">My Orders</a>
                                    {%else%}
                                    <a class="dropdown-item" href="{% url 'signup' %}">Signup</a>
                                    <a class="dropdown-item" href="{% url 'user_login' %}">Login</a>
                                    {% endif %}
                                </div>
                            </li>
  
   
                              <li class="nav-item dropdown active">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Shopping
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <a class="dropdown-item" href="{% url 'all_product' %}">All products</a>

                                      {% for cat in links %}
                                      <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
                                      {%endfor%}
                                  </div>
                              </li>

                              <li class="nav-item active">
                                <a class="nav-link" href="{% url 'view_wishlist' user.id %}">WISHLIST</a>
                            </li>
                              <li class="nav-item active ">
                                      {%csrf_token%}
                                      <a href="{% url 'cart_detail'%}" class="nav-link active" type="submit" name="submit" value="">
                                        My Cart{{cart_count}}
                                          <span class="fa fa-shopping-cart"></span>
                                      </a>
                              </li>
                                  
                          </ul>
  
                      </div>
                  </div>
              </nav>
              <!--//nav-->
          </header>
          <div class="bannerhny-content">
          </div>
  </section>








