{%extends 'cart/base.html' %}
{% block content %}
{%include 'navbar.html' %}
   <style>
      .receipt-content .logo a:hover {
          text-decoration: none;
          color: #7793C4;
      }
  
      .receipt-content .invoice-wrapper {
          background: #FFF;
          border: 1px solid #CDD3E2;
          box-shadow: 0px 0px 1px #CCC;
          padding: 40px 40px 60px;
          margin-top: 40px;
          border-radius: 4px;
      }
  
      .receipt-content .invoice-wrapper .payment-details span {
          color: #A9B0BB;
          display: block;
      }
  
      .receipt-content .invoice-wrapper .payment-details a {
          display: inline-block;
          margin-top: 5px;
      }
  
      .receipt-content .invoice-wrapper .line-items .print a {
          display: inline-block;
          border: 1px solid #9CB5D6;
          padding: 13px 13px;
          border-radius: 5px;
          color: #708DC0;
          font-size: 13px;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
      }
  
      .receipt-content .invoice-wrapper .line-items .print a:hover {
          text-decoration: none;
          border-color: #333;
          color: #333;
      }
  
      .receipt-content {
          background: #ECEEF4;
      }
  
      @media (min-width: 1200px) {
          .receipt-content .container {
              width: 900px;
          }
      }
  
      .receipt-content .logo {
          text-align: center;
          margin-top: 50px;
      }
  
      .receipt-content .logo a {
          font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
          font-size: 36px;
          letter-spacing: .1px;
          color: #555;
          font-weight: 300;
          -webkit-transition: all 0.2s linear;
          -moz-transition: all 0.2s linear;
          -ms-transition: all 0.2s linear;
          -o-transition: all 0.2s linear;
          transition: all 0.2s linear;
      }
  
      .receipt-content .invoice-wrapper .intro {
          line-height: 25px;
          color: #444;
      }
  
      .receipt-content .invoice-wrapper .payment-info {
          margin-top: 25px;
          padding-top: 15px;
      }
  
      .receipt-content .invoice-wrapper .payment-info span {
          color: #A9B0BB;
      }
  
      .receipt-content .invoice-wrapper .payment-info strong {
          display: block;
          color: #444;
          margin-top: 3px;
      }
  
      @media (max-width: 767px) {
          .receipt-content .invoice-wrapper .payment-info .text-right {
              text-align: left;
              margin-top: 20px;
          }
      }
  
      .receipt-content .invoice-wrapper .payment-details {
          border-top: 2px solid #EBECEE;
          margin-top: 30px;
          padding-top: 20px;
          line-height: 22px;
      }
  
  
      @media (max-width: 767px) {
          .receipt-content .invoice-wrapper .payment-details .text-right {
              text-align: left;
              margin-top: 20px;
          }
      }
  
      .receipt-content .invoice-wrapper .line-items {
          margin-top: 40px;
      }
  
      .receipt-content .invoice-wrapper .line-items .headers {
          color: #A9B0BB;
          font-size: 13px;
          letter-spacing: .3px;
          border-bottom: 2px solid #EBECEE;
          padding-bottom: 4px;
      }
  
      .receipt-content .invoice-wrapper .line-items .items {
          margin-top: 8px;
          border-bottom: 2px solid #EBECEE;
          padding-bottom: 8px;
      }
  
      .receipt-content .invoice-wrapper .line-items .items .item {
          padding: 10px 0;
          color: #696969;
          font-size: 15px;
      }
  
      @media (max-width: 767px) {
          .receipt-content .invoice-wrapper .line-items .items .item {
              font-size: 13px;
          }
      }
  
      .receipt-content .invoice-wrapper .line-items .items .item .amount {
          letter-spacing: 0.1px;
          color: #84868A;
          font-size: 16px;
      }
  
      @media (max-width: 767px) {
          .receipt-content .invoice-wrapper .line-items .items .item .amount {
              font-size: 13px;
          }
      }
  
      .receipt-content .invoice-wrapper .line-items .total {
          margin-top: 30px;
      }
  
      .receipt-content .invoice-wrapper .line-items .total .extra-notes {
          float: left;
          width: 40%;
          text-align: left;
          font-size: 13px;
          color: #7A7A7A;
          line-height: 20px;
      }
  
      @media (max-width: 767px) {
          .receipt-content .invoice-wrapper .line-items .total .extra-notes {
              width: 100%;
              margin-bottom: 30px;
              float: none;
          }
      }
  
      .receipt-content .invoice-wrapper .line-items .total .extra-notes strong {
          display: block;
          margin-bottom: 5px;
          color: #454545;
      }
  
      .receipt-content .invoice-wrapper .line-items .total .field {
          margin-bottom: 7px;
          font-size: 14px;
          color: #555;
      }
  
      .receipt-content .invoice-wrapper .line-items .total .field.grand-total {
          margin-top: 10px;
          font-size: 16px;
          font-weight: 500;
      }
  
      .receipt-content .invoice-wrapper .line-items .total .field.grand-total span {
          color: #20A720;
          font-size: 16px;
      }
  
      .receipt-content .invoice-wrapper .line-items .total .field span {
          display: inline-block;
          margin-left: 20px;
          min-width: 85px;
          color: #84868A;
          font-size: 15px;
      }
  
      .receipt-content .invoice-wrapper .line-items .print {
          margin-top: 50px;
          text-align: center;
      }
  
  
  
      .receipt-content .invoice-wrapper .line-items .print a i {
          margin-right: 3px;
          font-size: 14px;
      }
  
      .receipt-content .footer {
          margin-top: 40px;
          margin-bottom: 110px;
          text-align: center;
          font-size: 12px;
          color: #969CAD;
      }
  </style>
  <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style type="text/css">
      body {
          background: #f2f2f2;
      }
  
      .payment {
          border: 1px solid #f2f2f2;
          height: 280px;
          border-radius: 20px;
          background: #fff;
      }
  
      .payment_header {
          background: rgb(56, 161, 24);
          padding: 20px;
          border-radius: 20px 20px 0px 0px;
  
      }
  
      .check {
          margin: 0px auto;
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background: #fff;
          text-align: center;
      }
  
      .check i {
          vertical-align: middle;
          line-height: 50px;
          font-size: 30px;
      }
  
      .content {
          text-align: center;
      }
  
      .content h1 {
          font-size: 25px;
          padding-top: 25px;
      }
  
      .content a {
          width: 200px;
          height: 35px;
          color: #fff;
          border-radius: 30px;
          padding: 5px 10px;
          background: rgba(255, 102, 0, 1);
          transition: all ease-in-out 0.3s;
      }
  
      .content a:hover {
          text-decoration: none;
          background: #000;
      }
  </style>
  {% load static %}
  <body>
      <div class="container">
          <div class="row">
              <div class="col-md-10 mx-auto mt-5">
                  <div class="payment" style="margin-top: 5rem;">
                      <div class="payment_header">
                          <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                          <h1 class="text-center">Payment Success !</h1>
                      </div>
                      <div class="receipt-content">
                          <div class="container bootstrap snippets bootdey">
                              <div class="row">
                                  <div class="col-md-12">
   
                                      <style>
                                          @media print{
                                              body * {
                                                  visibility: hidden;
                                              }
                                              .receipt-container, .print-container * {
                                                  visibility: visible;
                                              }
                                              .print-container {
                                                  position: absolute;
                                                  left: 3%;
                                                  top: 0px;
                                              }
                                          }
                                      </style>
  
                                      
  
  
                                      <div class="invoice-wrapper print-container">
  
                                          <div class="intro">
                                              Hi <strong>{{order.full_name}}</strong>,
                                              <br>
                                              This is the receipt for a purchase which worth of <strong>${{order.order_total}}</strong> (USD)
                                          </div>
                                          
  
  
                                          <div class="payment-info">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <span>Order No.</span>
                                                      <strong>{{order.order_number}}</strong>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="payment-info">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <span>Payment Id</span>
                                                      <strong>{{payment.payment_id}}</strong>
                                                  </div>
                                                  <div class="col-sm-6 text-right">
                                                      <span>Ordered Date</span>
                                                      <strong>{{order.created_at}}</strong>
                                                  </div>
                                              </div>
                                          </div>
  
                                          <div class="payment-details">
                                              <div class="row">
                                                  <div class="col-sm-6">
                                                      <span>Address</span>
                                                      <strong>
                                                         {{order.full_name}}
                                                          
                                                      </strong>
                                                      <p>
                                                         {{ order.full_address }}
                                                          {{ order.phone }} <br>
                                                          {{ order.email }} <br>
                                                          {{ order.city }},{{ order.district }},{{ order.state }}<br>
                                                          {{ order.pincode }} <br>
                                                          {{ order.country }} 
                                                      </p>
                                                  </div>
                                                 
                                              </div>
                                          </div>
  
                                          <div class="line-items">
                                              <div class="headers clearfix">
                                                  <div class="row">
                                                      <div class="col-md-4">Description</div>
                                                      <div class="col-md-3">Quantity</div>
                                                      <div class="col-md-5 text-right">Amount</div>
                                                  </div>
                                              </div>
                                              {% for item in ordered_products %}
                                              <div class="items">
                                                  <div class="row item">
                                                      <div class="col-md-4 desc">
                                                          {{item.product}}
                                                      </div>
                                                      <div class="col-md-3 qty">
                                                         {{item.quantity}}
                                                      </div>
                                                      <div class="col-md-5 amount text-right">
                                                          ${{item.product_price}}
                                                      </div>
                                                  </div>
                                              </div>
                                              {% endfor %}
  


                                             
                                              <div class="total text-right">
                                                  <p class="extra-notes">
                                                      <strong>Extra Notes</strong>
                                                      Please send all items at the same time to shipping address by next
                                                      week.
                                                      Thanks a lot.
                                                  </p>
                                                  <div class="field">
                                                      Subtotal <span>${{ subtotal }}</span>
                                                  </div>
                                                
                                                  <div class="field grand-total">
                                                      Total <span>${{order.order_total}}</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="footer">
                                          <div class="print">
                                              <a class="btn btn-outline-secondary" style="margin-bottom: 1rem;" onclick="window.print()" >
                                                  <i class="fa fa-print"></i>
                                                  Print this receipt
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
{%endblock%}

















<!-- <link rel="stylesheet" href="{%  static 'css/styleordercomplete.css' %}">
<style>
   @media print {
      body* {
         visibility: hidden;
      }

      #print_container,
      #print_container * {
         visibility: visible;
      }

      #print_container {
         position: absolute;
         left: 0px;
         top: 0px;
      }
   }


</style>
<div> 
   <a href="{% url 'home' %}" >Home</a>
</div>
<div class="container" style="margin-top: 10rem;">
   
   <div class="col-md-12 ">
      <div class="invoice" id="print_container">
         <button onclick="window.print();">
            print
         </button>
         <div class="invoice-company text-inverse f-w-600" style="text-align: center; height: 8rem;">
            <span class="pull-right hidden-print">
            </span>
           <h3 style="color: green;"> Order Success  <i class="fa fa-check" aria-hidden="true" style="color: green;"></i></h3>

         </div>

         <div class="invoice-company text-inverse f-w-600" style="margin-top: 3rem;">
            <span class="pull-right hidden-print">
            </span>
            Payment Receipt
         </div>
         <div class="invoice-header">
            <div class="invoice-from">
               <small>from</small>
               <address class="m-t-5 m-b-5">
                  <strong class="text-inverse">{{order.full_name}}</strong><br>
                  {{order.full_address}}<br>
                  {{order.city}}, {{order.pincode}}<br>
                  {{order.state}}<br>
                  Phone: {{order.phone}}<br>
                  Email: {{order.email}}
               </address>
            </div>

            <div class="invoice-date">
               <small>Invoice</small>
               <div class="date text-inverse m-t-5">{{order.created_at}}</div>
               <div class="invoice-detail">
                  <em>Order : {{order_number}}</em><br>
                  <em>Transaction ID : {{transID}}</em><br>
                  <em>Status : {{payment.status}}</em><br>

               </div>
            </div>
         </div>
         <div class="invoice-content">
            <div class="table-responsive">
               <table class="table table-invoice">

                  <thead>
                     <tr>
                        <th>PRODUCT</th>
                        <th class="text-center" width="10%">PRICE</th>
                        <th class="text-center" width="10%">QUANTITY</th>
                        <th class="text-right" width="20%">TOTAL</th>
                     </tr>
                  </thead>
                  <tbody>
                     {% for item in ordered_products %}

                     <tr>
                        <td>
                           <span class="text-inverse">{{item.product}}</span><br>
                        </td>
                        <td class="text-center">{{item.product_price}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-right">${{total}}</td>
                     </tr>
                  </tbody>

                  {%endfor%}
               </table>
            </div>
            
            <div class="invoice-price">
               <div class="invoice-price-left">
                  <div class="invoice-price-row">
                     <div class="sub-price">
                        <small>TOTAL</small>
                        <span class="text-inverse">${{subtotal}}</span>
                     </div>
                     <div class="sub-price">
                        <i class="fa fa-minus text-muted"></i>
                     </div>
                     <div class="sub-price">
                        <small>COUPON DISCOUNT</small>
                        <span class="text-inverse">${{discount}}</span>
                     </div>
                  </div>
               </div>
               <div class="invoice-price-right">
                  <small>GRANDTOTAL</small> <span class="f-w-600">{{grand_total}}</span>
               </div>
            </div>
         </div>
         
      </div>
   </div>
</div> -->
