{% extends 'user/base.html' %}
{% block content%}
{% load static%}
<!-- my-account-area-start -->
    <div class="my-account-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="my-account-welcome">
                        <div >
                            {% if user.image %}<img src="{{user.image.url}}" alt="image" style="width: 10rem; height: 10rem;border-radius: 2rem;">{%endif%}
                            
                         </div>
                         <br><br>
                        <h4 class="my-account-title">WElcome back!</h4>
                        <ul>
                            <li><a href="{% url 'user_profile' user.id%}">Personal Information</a></li>
                            <li><a href="{% url 'edit_profile' user.id %}">Update Profile</a></li>
                            <li><a href="{% url 'edit_address' user.id %}">Update Address</a></li>
                            <li><a href="{% url 'change_password' user.id %}">Change password</a></li>

                        </ul>
                    </div>
                </div>
                <form method="POST" action="{% url 'change_password' user.id %}">
                    {%csrf_token%}
                <div class="col-md-9">
                    <div class="personal-information">
                        <h4 class="my-account-title">Change Password</h4>

                        <div class="personal-information-box">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="pib-item">
                                        <label>New Password</label>
                                        <input type="text" placeholder="Enter New Password" name="password1" >
                                    </div>                                 
                                </div>
                            </div>
                        </div>

                        <div class="personal-information-box">
                            <div class="row">
                                <div class="col-md-6 col-xs-12">
                                    <div class="pib-item">
                                        <label>Confirm Password</label>
                                        <input type="text" placeholder="Confirm Password" name="password2">
                                    </div>                                 
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-md-12" style="display: flex; justify-content: left;">
                            <div class="pib-save-change">
                              <input type="submit" value="submit" class="btn btn-success" ></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>    
        document.forms[1].setAttribute("enctype","multipart/form-data")
      </script>
       
     
{%endblock%}
